name: pnpm-update-snapshots
on:
  workflow_call:
    inputs:
      os:
        type: string
        required: false
        default: '["ubuntu-latest", "macos-latest", "windows-latest"]'
      node_version:
        type: string
        required: false
        default: '[16, 18, 20]'
      pnpm_version:
        type: string
        required: false
        default: 8.6.12
      update_snapshots:
        type: boolean
        required: false
        default: false
jobs:
  update_snapshots:
    if: ${{ inputs.update_snapshots  }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ${{ fromJson(inputs.os) }}
        node-version: ${{ fromJson(inputs.node_version) }}
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: ${{ inputs.pnpm_version }}
      - name: Use Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node_version }}
          cache: pnpm
      - name: git config
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
      - name: Install Dependencies
        run: pnpm install
      - name: Install playwright browsers
        run: pnpx playwright install --with-deps chromium
      - name: Update Snapshots
        run: pnpm update_snapshots
      - name: Commit and Push
        run: 'git commit -am "test: update snapshots" && git push -f -u origin HEAD:refs/heads/${GITHUB_HEAD_REF} || true'
        if: 'git status --porcelain'
