name: pnpm-verify
on:
  workflow_call:
    inputs:
      os:
        type: string
        required: false
        default: '["ubuntu-latest", "macos-latest", "windows-latest"]'
      node-version:
        type: string
        required: false
        default: '[20, 22, 24]'
      pnpm-version:
        type: string
        required: false
      coverage_files:
        type: string
        required: false
        default: '**/coverage/**'
jobs:
  verify:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ${{ fromJson(inputs.os) }}
        node-version: ${{ fromJson(inputs.node-version) }}
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: ${{ inputs.pnpm-version }}
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm
      - name: Install Dependencies
        run: pnpm install
      - name: Check for Playwright
        id: check-playwright
        uses: justland/.github/.github/actions/check-playwright@main
      - name: Install playwright browsers
        if: steps.check-playwright.outputs.has-playwright == 'true'
        uses: justland/.github/.github/actions/setup-playwright@main

      - name: Verify
        run: pnpm verify

      - name: codecov
        if: matrix.os == 'ubuntu-latest' && matrix.node-version == 20
        uses: codecov/codecov-action@v3
        with:
          files: ${{ inputs.coverage_files }}
          verbose: true
